
@using MVC_MobileBankApp.Enum
@using MVC_MobileBankApp.Models.Enum
@using MVC_MobileBankApp.Models.DTOs
@model AdminRequestModel
<head>
    <style>
        #trans:hover{
    background-color: green;
  }
    </style>
</head>


<h3>Edit Your Profile</h3>
<div asp-controller= "Admin" asp-action="UpdateProfile" style="font-size: 130%;">
    <hr />
    <form asp-action="UpdateProfile">
        <div> 
            <div>
                <label asp-for = "StaffId"></label>
                <input asp-for = "StaffId" readonly  class= "form-control"/>
                
            </div><br>
             <div>
                <label asp-for="MaritalStatus" class="control-label"></label>
                 <select asp-for = "MaritalStatus" asp-items="Html.GetEnumSelectList<MaritalStatusType>()"></select>
            </div><br>
            <div>
                <label asp-for = "FirstName"></label>
                <input asp-for = "FirstName"  class= "form-control"/>
            </div><br>
            <div>
                <label asp-for = "LastName"></label>
                <input asp-for = "LastName"  class= "form-control"/>
            </div><br>
            <div>
                <label asp-for = "Address"></label>
                <input asp-for = "Address"  class= "form-control"/>
            </div><br>
            <div>
                <label asp-for = "Age"></label>
                <input asp-for = "Age"  class= "form-control"/>
            </div><br>
            <div>
                <label asp-for = "Gender"></label>
                <input asp-for = "Gender" readonly class= "form-control"/>
            </div><br>
            <div>
                <label asp-for = "Email"></label>
                <input asp-for = "Email"  class= "form-control"/>
            </div><br>
            <div>
                <label asp-for = "PassWord"></label>
                <input asp-for = "PassWord"  class= "form-control"/>
            </div><br>
            <div>
                <label>Registration Date</label>
                <input asp-for = "DateCreated" readonly class= "form-control"/>
            </div> <br> <br>
     <div class="form-group ">
            <input href="#myModal" type="submit" value="Submit" class="btn btn-success trigger-btn col-sm-12" data-toggle="modal" />
        </div><br>
        <a id="trans" asp-controller="Admin" asp-action="Profile">Back to Profile</a>
    </form>
</div>