
@{
    Layout = null;
}

<html>
    <head>
     <link rel="stylesheet" href="~/css/template.css" />

    </head>

    <body>

         <nav>
   <a href="#first"><i class="bi bi-info-lg"></i></a>
   <a href="#second"><i class="fas fa-briefcase"></i></a>
   <a href="#third"><i class="far fa-file"></i></a>
   <a href="#fourth"><i class="far fa-address-card"></i></a>
 </nav>
  
<div class= 'container'> 
  <section id= 'first'>
    <h1>First</h1>
  </section>
  
  <section id= 'second'>
    <h1>Second</h1>
  </section>
  
 <section id= 'third'>
   <h1>Third</h1>
  </section>
  
 <section id= 'fourth'>
   <h1>Fourth</h1>
  </section>
</div>
        
    </body>
</html>