@model MVC_MobileBankApp.Models.DTOs.UserDTO
<head>
     <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] MobileBankApp</title>
</head>
<div>
    <h1  class="text-center" style = "font-family:cabri;font-size : 60px; color: #b58900;"class="display-4">Welcome</br>To Our Banking System</h1>
</div>
 <br><br><br> <br>
  
<body style="background-image: url('https://ceoworld.biz/wp-content/uploads/2016/07/Financial-Services-Companies.jpg');"width="200" height="200">
    <h3 style="text-align: center ;color :Red;"> @ViewBag.Error</h3>
 
<div class="container">
    <div class="row justify-content-center">
        <div class=" card col-md-6">
            <div class="card-body ">
                
                <form asp-action="LogIn" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-row">
                         </div>
                        <div style="color:green; font-family:cabri; text-align:center; font-size: 25px;" class="form-group col-sm-6">
                            <label asp-for="Email" class="control-label"></label>
                            <input type = "email" asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div><br>
                        <div style="color:orange; font-family:cabri; text-align:center; font-size: 25px;" class="form-group col-sm-6">
                            <label asp-for="PassWord" class="control-label"></label>
                            <input asp-for="PassWord" type="password" id="pass" name="password" class="form-control" />
                            <span asp-validation-for="PassWord" class="text-danger"></span>
                       </div><br><br>
                        <div>
                        
                               <button style=" font-family:cabri; font-size: 20px;" href="#myModal" type="submit" value="Submit" class="btn btn-success trigger-btn col-sm-12" data-toggle="modal">Login</button>
                        </div>
                </form>
            </div>
        </div>

    </div>
</div>
</body>